@font-face {
    font-family: GothamBlack;
    src: url(./assets/gotham/Gotham-Black.otf);
}

@font-face {
    font-family: GothamLight;
    src: url(./assets/gotham/Gotham-Light.otf);
}

@font-face {
    font-family: GothamBold;
    src: url(./assets/gotham/Gotham-Bold.otf);
}


.App{
}

.camProfile {
    height: 100%;
    width: 100%;
    margin-top: -15%;
}

.arrow {
    position: absolute;
    width: 25px;
    margin-left: -1200px;
    margin-top: 3%;
}

.job{
    position: absolute;
    font-family: Gotham;
    margin-left: 25%;
    margin-top: 22%;
}

.header{
    font-family: GothamBold;
    color: #00B791;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

.content{
    font-family: GothamLight;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

.contentTitle{
    font-family: GothamBold;
}

.userInfo{
    margin-top: -5%;
}